.section-hero-estudio {
  @apply relative lg:mt-52 lg:h-[calc(100vh-13rem)];

  &__circle-top {
    @apply lg:w-[300px] lg:h-[300px] absolute;
    @apply opacity-20 blur-2xl;
    @apply -top-[150px] left-[50px];
    background: radial-gradient(
      46.23% 46.23% at 50.16% 50%,
      #ff646d 0%,
      rgba(233, 100, 255, 0.5) 100%
    );
  }

  &__text {
    @apply bg-primary-gray-200 rounded-full;
  }

  &__bg {
    @apply bg-no-repeat bg-cover bg-center;
    @apply absolute top-0 left-0;
    @apply w-full h-[400px] lg:h-full;
  }

  &__inner {
    @apply container h-full;
    @apply xl:grid xl:grid-cols-2;
  }

  &__content {
    @apply relative z-10 font-fugaz-one text-white;
    @apply pt-[13rem] xl:pt-0;
    @apply lg:flex lg:flex-col lg:justify-center lg:items-center lg:col-start-2;
    @apply lg:max-w-[600px] lg:mx-auto xl:max-w-full xl:mx-0;
    @apply 2xl:-translate-y-12;
  }

  &__title {
    @apply text-center text-parrafo-hover-100  rounded-full lg:rounded-3xl;
    @apply py-2 lg:pt-0 lg:pb-6 lg:px-24 2xl:px-40;
    font-size: clamp(1rem, 0.9vw + 0.8rem, 1.875rem);
  }

  &__gradient {
    @apply block p-0;
    @apply text-dynamic-h2 bg-primary-pink-200;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__subtitle {
    @apply bg-primary-gray-200 rounded-full;
    @apply py-2 px-12 -mt-[5.5rem];
    font-size: clamp(1rem, 0.9vw + 0.8rem, 1.875rem);
  }

  &__body {
    @apply bg-primary-gray-200 relative text-center rounded-3xl;
    @apply mt-6 py-16 px-6 lg:px-14 2xl:px-16;
    @apply flex flex-col items-center;

    &-title {
      @apply bg-primary-pink-200;
      font-size: clamp(1.5625rem, 0.6vw + 1.5rem, 2.125rem);

      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-description {
      @apply font-comfortaa;
      font-size: clamp(0.875rem, 0.1vw + 0.9rem, 1rem);
    }
  }
}

.section-clases {
  //lg:pl-44
  @apply container pt-10;
  &__title {
    @apply bg-primary-pink-100 [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] [background-clip:text];
  }
  &__card {
    @apply bg-primary-gray-200 rounded-3xl py-12 px-4 sm:px-16 flex flex-col gap-10 relative;
  }
  &__deco {
    @apply w-12 h-12 rounded-full bg-primary-pink-200 absolute top-0 right-0;
  }
}
