.section-hero-nosotros {
  @apply lg:mt-48 bg-hero-nous bg-cover bg-center;

  &__title {
    @apply font-fugaz-one bg-primary-pink-200 py-1 text-dynamic-h2 text-start;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.section-valores-marca {
  @apply container py-16 md:py-28;

  &__heading-wrapper {
    @apply rounded-full flex justify-center w-full;
  }

  &__title {
    @apply font-fugaz-one bg-primary-pink-200 py-1 px-7 text-dynamic-h2 text-center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.section-mision-vision {
  @apply container;
}
